<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyf.sandbox.dao.ApiInfoDao">
    <resultMap id="BaseResultMap" type="com.lyf.sandbox.domain.ApiInfo">
        <result column="id" property="id" />
        <result column="api_name" property="apiName" />
        <result column="api_type" property="apiType" />
        <result column="request_type" property="requestType" />
    </resultMap>
    
    <resultMap type="com.lyf.sandbox.domain.ApiInfo" id="ApiPramInfoResultMap" extends="BaseResultMap">
    	<collection property="paramList" ofType="com.lyf.sandbox.domain.Param">
    		<result column="param_id" property="id" />
    		<result column="param_name" property="paramName" />
    		<result column="param_type" property="paramType" />
    		<result column="param_value" property="paramValue" />
    	</collection>
    </resultMap>

    <parameterMap id="ApiInfo" type="com.lyf.sandbox.domain.ApiInfo"/>
	
	<select id="" resultMap="ApiPramInfoResultMap" parameterType="java.lang.Long">
		select 
		
		from t_api_info
		left join t_param
	</select>
    <sql id="Base_Column_List">
        id, api_name, api_type, request_type
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from t_api_info
        where id = #{id}
    </select>
    
    
    <select id="getApiInfoById" >
    	
    </select>

    <select id="findAllApiInfo" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from t_api_info
    </select>

    <insert id="saveCity" parameterMap="ApiInfo" useGeneratedKeys="true" keyProperty="id">
        insert into
        t_api_info(id, api_name, api_type, request_type)
        values
        (#{id},#{api_name},#{api_type},#{request_type})
    </insert>

    <update id="updateCity" parameterMap="ApiInfo">
        update
        t_api_info
        set
        <if test="provinceId!=null">
            api_name = #{apiName},
        </if>
        <if test="cityName!=null">
            api_type = #{apiType},
        </if>
        <if test="description!=null">
            request_type = #{requestType}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deleteCity" parameterType="java.lang.Long">
        delete from
        t_api_info
        where
        id = #{id}
    </delete>
</mapper>
