<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.sandbox.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.lyf.sandbox.domain.Project">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>

  <resultMap id="DetailResultMap" type="com.lyf.sandbox.domain.Project" extends="BaseResultMap">
      <collection property="interfaceCateList" ofType="com.lyf.sandbox.domain.InterfaceCate" >
          <id column="cate_id" jdbcType="BIGINT" property="id" />
          <result column="project_id" jdbcType="BIGINT" property="projectId" />
          <result column="cate_name" jdbcType="VARCHAR" property="name" />
          <result column="cate_create_date" jdbcType="TIMESTAMP" property="createDate" />
          <result column="cate_is_deleted" jdbcType="BIT" property="isDeleted" />
      </collection>
      <collection property="projectEnvList" ofType="com.lyf.sandbox.domain.ProjectEnv">
        <id column="evn_id" jdbcType="BIGINT" property="id" />
        <result column="env_name" jdbcType="VARCHAR" property="envName" />
        <result column="api_domain" jdbcType="VARCHAR" property="apiDomain" />
        <result column="api_ip" jdbcType="VARCHAR" property="apiIp" />
      </collection>
      <collection property="paramListList" ofType="com.lyf.sandbox.domain.ParamList">
        <id column="param_id" jdbcType="BIGINT" property="id" />
        <result column="column_name" jdbcType="VARCHAR" property="columnName" />
      </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, name, create_date, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="DetailResultMap">
    SELECT
      p.id, p.name, p.create_date, p.is_deleted,
      ic.id cate_id, ic.project_id, ic.name cate_name, ic.create_date cate_create_date, ic.is_deleted cate_is_deleted
    FROM project p
    LEFT JOIN interface_cate ic
    ON p.id = ic.project_id
    WHERE p.is_deleted=0
    AND p.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAllProject" resultMap="DetailResultMap">
    SELECT
      p.id, p.name, p.create_date, p.is_deleted,
      ic.id cate_id, ic.project_id, ic.name cate_name, ic.create_date cate_create_date, ic.is_deleted cate_is_deleted
    FROM project p
    LEFT JOIN interface_cate ic
    ON p.id = ic.project_id
    WHERE p.is_deleted=0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lyf.sandbox.domain.Project">
    insert into project (id, name, create_date, 
      is_deleted)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.lyf.sandbox.domain.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyf.sandbox.domain.Project">
    update project
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyf.sandbox.domain.Project">
    update project
    set name = #{name,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>